@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    background-color: lightgray;
}
header{
    background-color: gray;
    color: black;
    padding: 20px;
}
header h1{
    text-align: center;
    padding: 20px;
}
main{
    background-color: white;
    color: black;
    padding: 20px;
    text-align: justify;
    font-size: 20px;
    border-radius: 10px;
    width: 90vw;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
main p{
    text-indent: 30px;
}
ul{
    display: flex;
    gap: 10px;
    margin-left: -15px;
}
ul > li{
    list-style: none;
    background-color: black;
    padding: 10px;
}
li > a{
    text-decoration: none;
    color: white;
}
li > a:hover{
    text-decoration: underline;
    color: white;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
.btnConatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.btnConatiner > button{
    padding: 10px;
    font-size: 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 100%;
}
.btnConatiner > button:hover{
    background-color: rgb(83, 77, 77);
}
    
@media (max-width: 700px){
    header{
        padding: 0;
    }
    .menu{
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-left: 0px;
        border-radius: 0px;
    }
    .menu > li{
        border-radius: 0px;
        padding: 15px;
        background-color: rgb(87, 87, 87);
        text-align: center;
        border: 2px solid rgb(0, 0, 0);
    }
    .menu > li:hover{
        background-color: gray;
    }
}