@charset "UTF-8";
/* Estilos para tela */
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: lightgray;
    padding-top: 20px;
}
header > h1{
    text-align: center;
    margin-bottom: 10px;
}
menu ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    background-color: gray;
    gap: 15px;
    padding: 10px;
}
ul > li{
    background-color: rgb(75, 75, 75);
    padding: 10px;
    color: white;
}
article{
    width: 600px;
    display: block;
    margin: auto;
}