@charset "utf-8";
/* Declarações Gerasis */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #233eff;
  background-size: contain;
  background-repeat: no-repeat;
}
h1 {
  color: white;
  text-shadow: 3px 3px 5px #1a2cb6;
  padding: 10px;
}
/* Declarações para Retrato */
@media screen and (orientation: portrait) {
  body {
    background-image: url(imagens/cev-portrait.jpg);
    background-position: center bottom;
  }
}
/* Declarações para Paisagem */
@media screen and (orientation: landscape) {
  body {
    background-image: url(imagens/cev-landscape.jpg);
    background-position: left bottom;
  }
}
