@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input.focus textarea:focus{
    box-shadow: 0 0 0;
    outline: 0;
    color: white;
}
body{
    background-image: url("netflix.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    background-position: center;
    font-family: 'Bebas Neue', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    backdrop-filter: brightness(40%);
    min-height: 50vw;
}
header{
    width: /*(100% - 10px)*/;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
div{
    margin-bottom: 20px;
}
.section-form{
    margin: 0 auto;
    width: 30%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: hsla(0, 0%, 0%, 0.8);
}
form{
    width: 100%;
}
.inputs{
    padding: 20px;
    background-color: rgba(22, 22, 22, 0.7);
    width: 100%;
    border: none;
    border: 1px solid whitesmoke;
    border-radius: 0.5em;
    margin-bottom: 10px;
    color: 10px;
}
.inputSubmit{
    color: white;
    background-color: red;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.2em;
    cursor: pointer;
    margin-bottom:5px;
}
.entrar{
    color: white;
    align-self: flex-start;
    margin-bottom: 15px;
}
.paragrafoCinza{
    color: gray;
    margin-bottom: 15px;
}
.lembre-se-de-mim{
    color: white;
    display: flex;
    gap:10px;
    margin-bottom: 15px;
}
.p-ou{
    color: gray;
    font-size: 14pt;
    margin-bottom: 5px;
}
.div-bnts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
link-cod-acesso{
    padding: 9px;
    background-color: rgba(255, 255, 255, 0.3);
    border:1px solid black;
    border-radius: 0.2em;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    transition: 0.2s;
}
link-cod-acesso:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
link-esqueceu-senha{
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}
.paragrafoCinza a{
    color: white;
}