@charset "UTF-8";
/*Configurações gerais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: #233EFF;
    background-size: contain;
    background-repeat: no-repeat;
}
h1{
    color: white;
    text-shadow: 3px 3px 5px #1a2cb6;
    padding: 10px;
}